/* 使整個頁面的內容居中 */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 父容器，用来包裹 #board 和按钮 */
#parent-container {
    position: relative;
    width: 600px; /* 可以根据需要调整 */
    height: 600px; /* 可以根据需要调整 */
}

/* 使board不超出父容器 */
#board-container {
    position: relative;
    width: 500px;
    height: 500px;
}


#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
    position: relative;
    width: 500px;
    height: 500px;
    /*margin: 20px auto; /* 讓畫布居中 */
}

/* 通用的工具容器樣式 */
.tool-container {
    position: absolute;
    display: flex;
    flex-direction: column; /* 垂直排列圖片和按鈕 */
    align-items: center; /* 水平居中 */
}


/* 按鈕樣式 */
button {
    background-color: skyblue;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

/* 按鈕懸停顏色 */
button:hover {
    background-color: dodgerblue;
}

/* 道具位置 */
#tool1-container {
    top: 150px;
    left: 150px;
    transform: translate(-50%, -50%);
}

/* 道具2的位置 */
#tool2-container {
    top: 150px;
    right: 150px;
    transform: translate(50%, -50%);
}

/* 道具3的位置 */
#tool3-container {
    bottom: 150px;
    left: 150px;
    transform: translate(-50%, -50%);
}

/* 道具3的位置 */
#tool4-container {
    bottom: 150px;
    right: 150px;
    transform: translate(50%, -50%);
}
